/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', 'sans-serif';
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-image: url('../public/background-1.png');
}
p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  color: #787878;
}
h1 {
  font-size: 60px !important;
  line-height: 80px !important;
  color: #363636 !important;
}
